@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  /*
  /* Example setup for custom colors */
/* Generate at: https://once-ui.com/customize */
/*
  --scheme-brand-100: #08002f;
  --scheme-brand-200:  #04025c;
  --scheme-brand-300:  #1f398e;
  --scheme-brand-400:  #3856ae;
  --scheme-brand-500:  #5071cc;
  --scheme-brand-600:  #6f94f1;
  --scheme-brand-700:  #8db3ff;
  --scheme-brand-800:  #b2dbff;
  --scheme-brand-900:  #bfe8ff;
  --scheme-brand-1000: #ccf6ff;
  --scheme-brand-1100: #d2fcff;
  --scheme-brand-1200: #d2fcff;
  --scheme-brand-600-10: rgba(111,148,241,0.1);
  --scheme-brand-600-30: rgba(111,148,241,0.3);
  --scheme-brand-600-50: rgba(111,148,241,0.5);

  --scheme-accent-100:  #030b10;
  --scheme-accent-200:  #0d181d;
  --scheme-accent-300:  #364248;
  --scheme-accent-400:  #505d64;
  --scheme-accent-500:  #69777e;
  --scheme-accent-600:  #8a989f;
  --scheme-accent-700:  #a8b7bf;
  --scheme-accent-800:  #c8d7df;
  --scheme-accent-900:  #d5e4ec;
  --scheme-accent-1000: #e2f1f9;
  --scheme-accent-1100: #e9f8ff;
  --scheme-accent-1200: #efffff;
  --scheme-accent-600-10: rgba(138,152,159,0.1);
  --scheme-accent-600-30: rgba(138,152,159,0.3);
  --scheme-accent-600-50: rgba(138,152,159,0.5);

  --scheme-neutral-100:  #020b10;
  --scheme-neutral-200:  #0b181d;
  --scheme-neutral-300:  #344248;
  --scheme-neutral-400:  #4f5d64;
  --scheme-neutral-500:  #68777e;
  --scheme-neutral-600:  #89989f;
  --scheme-neutral-700:  #a7b7be;
  --scheme-neutral-800:  #c7d7df;
  --scheme-neutral-900:  #d4e4ec;
  --scheme-neutral-1000: #e1f2f9;
  --scheme-neutral-1100: #e7f8ff;
  --scheme-neutral-1200: #eeffff;
  --scheme-neutral-600-10: rgba(137,152,159,0.1);
  --scheme-neutral-600-30: rgba(137,152,159,0.3);
  --scheme-neutral-600-50: rgba(137,152,159,0.5);
  /*
}*/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}